* {
    font-family: Arial, Helvetica, sans-serif;
}



/* header */
.sony {
    height: 30px;
    background-color: black;
}

.sony img {
    width: 80px;
    margin-right: 20px;
}

.navbar img {
    margin-right: 10px;
}

.my-btn {
    color: white;
    font-size: 18px;
}

.login {
    background-color: #363636;
}

.search {
    width: 30px;
}

/* jumbotron */
.jumbotron {
    background-image: url(img/jumbo-bg.png);
    height: 650px;
    background-position: center;
}

.jumbotron-text {
    height: 650px;
    padding-bottom: 50px;
}

.jumbotron-text img {
    width: 250px;
    margin-bottom: 30px;
}

.jumbotron-text h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.jumbotron-text p {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
}

.buy_now {
    background-color: red;
}

/* riga con giochi */
.games {
    margin-top: 40px;
    margin-bottom: 50px;
}

.games img {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* ps5 */
.ps5 {
    margin-bottom: 50px;
}

.more_info {
    background-color: #2d64e6;
}

.ps5_thumb {
    width: 100%;
}

.blue_text {
    color: #2d64e6;
    margin-bottom: 0;
}

.gray_text {
    font-size: 20px;
    color: gray;
}

.margin_bottom_50 {
    margin-bottom: 50px;
}

.tiny_col {
    width: 5%;
}

.abc {
    width: 18%;
}

.devices img {
    width: 100%;
}

.device_hover {
    opacity: 0.6;
    transition: 0.3s;
}

.device_hover:hover {
    opacity: 1;
    border-bottom: solid 2px #2d64e6;
}

/* it takes two */
.it_takes_two {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
    background-position: center;
}

.it_takes_two_text {
    height: 800px;
}

.it_takes_two_text img {
    width: 250px;
    margin-bottom: 30px;
}

.it_takes_two_text h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.it_takes_two_text p {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
}

/* nuove uscite */
.new_games {
    background-color: #1f1f1f;
    height: 750px;
}

.new_games h1, h3 {
    color: white;
}

.new_games_text {
    padding-top: 40px;
}

.new_games img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;
}

.new_games_block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    margin-bottom: 30px;
}

.item span {
    color: white;
    font-size: 18px;
}

/* ps4 */
.ps4 {
    margin-top: 80px;
}

.align_center {
    text-align: center;
}